<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eliteai.et8080.mapper.NodeMapper" >
  <resultMap id="BaseResultMap" type="com.eliteai.et8080.model.Node" >
    <id column="node_id" property="nodeId" jdbcType="INTEGER" />
    <result column="lft" property="lft" jdbcType="INTEGER" />
    <result column="rgt" property="rgt" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    node_id, lft, rgt
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from node
    where node_id = #{nodeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from node
    where node_id = #{nodeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eliteai.et8080.model.Node" >
    insert into node (node_id, lft, rgt
      )
    values (#{nodeId,jdbcType=INTEGER}, #{lft,jdbcType=INTEGER}, #{rgt,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.eliteai.et8080.model.Node" >
    insert into node
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="nodeId != null" >
        node_id,
      </if>
      <if test="lft != null" >
        lft,
      </if>
      <if test="rgt != null" >
        rgt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="nodeId != null" >
        #{nodeId,jdbcType=INTEGER},
      </if>
      <if test="lft != null" >
        #{lft,jdbcType=INTEGER},
      </if>
      <if test="rgt != null" >
        #{rgt,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eliteai.et8080.model.Node" >
    update node
    <set >
      <if test="lft != null" >
        lft = #{lft,jdbcType=INTEGER},
      </if>
      <if test="rgt != null" >
        rgt = #{rgt,jdbcType=INTEGER},
      </if>
    </set>
    where node_id = #{nodeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eliteai.et8080.model.Node" >
    update node
    set lft = #{lft,jdbcType=INTEGER},
      rgt = #{rgt,jdbcType=INTEGER}
    where node_id = #{nodeId,jdbcType=INTEGER}
  </update>
</mapper>